.about{
    display: flex;
    gap: 10px;
   }
   .about__wrap-right{
    width: 500px;
    flex-shrink: 0;
   }

   .about{
    background-color: rgb(60, 237, 243);
     color: rgb(42, 241, 225);
     padding: 10px;
    }

    .about__button{
        display: block;
        padding: 100px;
        color: rgb(64, 243, 234);
        background-color: rgb(68, 233, 225);
        text-decoration: none;
        margin-top: auto;
        margin-right: auto;
       }
       .about__wrap-left{
        display: flex;
        flex-direction: column;
       }
       
    