@media (max-width: 1024px) {
    .container {
        max-width: 100%;
       }
       .courses {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
       }
       .teachers {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
       }
       .header__menu {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
       }    
        .menu {
        justify-content: center;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: wrap; 
        display: flex;
        padding: 0;
        margin: 10px;
    }
        .menu__link {
            padding: auto;
            white-space: nowrap;
            padding: 5px;
            margin-right: 0;
    }
      
  
}
    
     